*{
    margin: 0;
    width: 100%;
    padding: 0;

}
.container{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    display: flex;
    color: aliceblue;

}

.container ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-align:left;

}
.container ul a{
    text-decoration: none;
    color: aliceblue;

}
.container .bar{
    width:20%;
    background-color: blue;
    height: 100vh;
    align-items: center;
    text-align: center;

}
.container .content{
    background-color: chartreuse;
    height: 100vh;
    text-align: ;
    align-items: center;
    text-align: center;
}
.container .footer{
    height: 30vh;
    align-items: center;
    text-align: center;

}
.container .content img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}